# SQL CREDS
SQL.USERNAME=user
SQL.PASSWORD=password
SQL.HOST=localhost
SQL.PORT=5432
SQL.DB=db

# SUPABASE AUTH CREDS
SUPABASE.JWT.SECRET=

# APPLICATION CONFIGURATION
SERVER.LOG.LEVEL=debug
SERVER.PORT=8080

# AWS SDK CREDS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION="ap-south-1"